.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Login Component */

.login-wrapper{
  background-color: #8ABCD7;
  color: white;
  text-align: -webkit-center;
}
.login-wrapper>h1{
  font-size: 48px;
}
.logo-foodoclock{
  width: 500px;
}
.login-wrapper>form{
  width:420px;
  padding-bottom: 100px;
  font-size: 36px;
}
.login-form>label>p{
  text-align: start;
  font-size: 36px;
  margin: 15px 0px;
}
.login-form>label>input{
  width: 100%;
  border: none;
  font-size: 36px;
  border-radius: 15px;
  padding: 18px;
}
.login-btn-div{
  width: 420px;
  padding: 18px;
}
.login-form>div>button{
  width: 100%;
  padding: 20px;
  font-size: 36px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #227093;
  margin-top: 50px;
}
.login-form>div>button:hover{
  cursor: pointer;
  background-color: #34ace0;
}
hr.login-divider{
  border-top: 1px solid ;
  width: 456px;
}
.login-new-account{
  width: 420px;
  padding: 18px;
}
.login-new-account>a{
  text-decoration: none;
  color: #227093;
}
.login-new-account>a:hover{
  color: #34ace0;
}

/* Signup Component */
.signup-wrapper{
  background-color: #8ABCD7;
  color: white;
  text-align: -webkit-center;
}
.signup-wrapper>h1{
  font-size: 48px;
}
.signup-wrapper>form{
  width: 420px;
  padding-bottom: 100px;
  font-size: 36px;
}
.signup-form>label>p{
  text-align: start;
  font-size: 36px;
  margin: 15px 0px;
}
.signup-form>label>input{
  width: 100%;
  border: none;
  font-size: 36px;
  border-radius: 15px;
  padding: 18px;
}
.signup-btn-div{
  width: 420px;
  padding: 18px;
}
.signup-form>div>button{
  width: 100%;
    padding: 20px;
    font-size: 36px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #227093;
    margin-top: 50px;
}
hr.signup-divider{
  border-top: 1px solid;
  width: 456px;
}
.signup-have-account{
  width: 420px;
  padding: 18px;
}
.signup-have-account>a{
  text-decoration: none;
  color: #227093;
}
.signup-have-account>a:hover{
  color: #34ace0;
}

/* Top Nav Bar */

.top-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;

}
.top-navbar>a>img{
  width: 300px;
}
.account-login{
  color: white;
  font-size: 36px;
  width: 300px;
}
.search-input{
  border: none;
  font-size: 36px;
  border-radius: 15px;
  padding: 10px;
  width: 540px
}
.top-navbar>a{
  text-decoration: none;
}
.account-link{
  color: white;
  text-decoration: none;
}
.restaurant-welcome{
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

/* Froms Top Navbar */
.form-top-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.form-top-navbar>img{
  width: 350px;
}
.signup-form-navbar,.login-form-navbar,.back-form-link{
  font-size: 36px;
  text-decoration: none;
  color: white;
}

/* Middle NavBar */
.middle-navbar{  
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  background-color: #fff;
}
.navbar__link {
  margin: 1em;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: .3em;
  text-indent: .3em;
  color: #227093;
}

.navbar__link:hover {
  transform: translateY(-2px);
}
.middle-navbar>a.active{
  color: #fff ;
  background-color: #227093;
}

/* Restaurant Card and Collections Card*/
.restaurant-card-image, .collection-card-image{
  width: 400px ;
  height: 300px;
  border-radius: 20px;
  border: 2px solid #227093;
  cursor: pointer;
}
.restaurant-details,.collection-title{
  background-color: #227093;
  color: #fff;
  border-radius: 15px;
  border: 2px solid #fff;
  padding-bottom: 20px;
}
.restaurant-topbar{
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
  font-size: 18px;
  font-weight: bold;
}
.restaurant-title{
  font-size: 20px ;
  font-weight: bold;
}
.collection-title{
  align-items: center;
  padding: 24px;
}
.collection-name{
  font-size : 24px;
  font-weight: bold;
}

/* Main Content */
.content-wrapper,.collection-content-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Restaurant Page */

/* Section One */
.section-one{
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.section-one-img{
  width: 700px;
  height: 500px;
}
.section-one-details{
  width: 700px;
  justify-content: center;
  align-items: center;
}
.section-one-details>h2{
  text-align: start;
  color: #fff;
  font-size: 32px;
}
.section-one-details>p{
  text-align: start;
  color: #fff;
  font-size: 32px;
}
.section-one-details>span>p{
  text-align: start;
  color: #fff;
  font-size: 20px;
}
/* Section Two */
.review-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
}
.review-title>h1{
  font-size: 36px;
  color: #fff;
}
.review-title>button{
  font-size: 32px;
  background-color: #227093;
  border: none;
  border-radius: 15px;
  padding: 20px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
.review-title>button:hover{
  background-color: #34ace0;
}
hr.section-two-devider{
  border-top: 1px solid #fff;
  width: 90%;
}
.profile-pic-review{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.section-person-review-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  margin-top: 40px;
}
.section-person-review-title>span{
  font-size: 30px;
  color: white;
  margin-right: 50px;
}
.profile-details{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.profile-details>h2{
  color: #fff;
  font-size: 30px;
}
.description-review{
  padding: 25px 100px;
  font-size: 26px;
  text-align: start;
  color: #fff;
}

/* Add Review Form */
.add-review-title{
  font-size: 32px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
}
.cancel-btn{
  font-size: 30px;
  background-color: #FF524E;
  border: none;
  padding: 15px;
  border-radius: 15px;
  color: #fff;
  width: 200px;
  cursor: pointer;
}
.cancel-btn:hover{
  background-color: #b33939;
}
.add-review-btn{
  width: 200px;
  padding: 15px;
  border-radius: 15px;
  font-size: 30px;
  border: none;
  background-color: #227093;
  color: #fff;
  cursor: pointer;
}
.add-review-btn:hover{
  background-color: #34ace0;
}
.add-review-bottom{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.review-stars{
  margin-left: 80px;
}
.review-description-textarea{
  width: 90vw;
  height: 20vh;
  font-size: 30px;
  margin-bottom: 25px;
}

/* Place Holder */
::placeholder {
  color: #8ABCD7;
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #8ABCD7;
 opacity: 0.5;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #8ABCD7;
 opacity: 0.5;
}

/* Admin Top NavBar */

.admin-topnavbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
}
.admin-topnavbar>div>h1{
  color: #fff;
  font-size: 40px;
}

/* Middle Navbar */
.admin-middlenavbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  background-color: #fff;
}
.admin-middlenavbar>a.active{
  color: #fff ;
  background-color: #227093;
}

/* User card */
.user-card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}
.user-card-devider{
  border-top-style: ridge;
  width: 90vw;
}
.user-card-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}
.user-card-header>span{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  flex-basis: 25%;
}
.user-card>span{
  color: #227093;
  font-size: 30px;
  font-weight: 600;
  flex-basis: 25%;
  overflow-wrap: anywhere;
}
.user-card>span>button{
  border: none;
  font-size: 36px;
  background-color: transparent;
  color: #FF524E;
  cursor: pointer;
  border-radius: 50%;
}
.user-card>span>button:hover{
  background-color: #fff;
}

/* Manage Restaurant */

.manage-restaurant-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}
.manage-restaurant-header>span{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  flex-basis: 25%;
}
.manage-restaurant-devider{
  border-top-style: ridge;
  width: 90vw;
}
.admin-restaurant-card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}
.admin-restaurant-card>span{
  color: #227093;
    font-size: 30px;
    font-weight: 600;
    flex-basis: 25%;
    overflow-wrap: anywhere;
}
.admin-restaurant-card>span>.restaurant-delete-btn{
  border: none;
  font-size: 36px;
  background-color: transparent;
  color: #FF524E;
  cursor: pointer;
  border-radius: 50%;
}
.admin-restaurant-card>span>.restaurant-edit-btn{
  border: none;
  font-size: 36px;
  background-color: transparent;
  color: #218c74;
  cursor: pointer;
  border-radius: 50%;
}
.admin-restaurant-card>span>.restaurant-delete-btn:hover,.admin-restaurant-card>span>.restaurant-edit-btn:hover{
  background-color: #fff;
}

/* Manage Review */
.manage-review-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}
.manage-review-header>span{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  flex-basis: 25%;
}
.admin-review-card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
}
.admin-review-card>span{
  color: #227093;
  font-size: 30px;
  font-weight: 600;
  flex-basis: 25%;
  overflow-wrap: anywhere;
}
.review-approve-btn{
  border: none;
  font-size: 36px;
  background-color: transparent;
  color:#218c74;
  cursor: pointer;
  border-radius: 50%;
}
.review-disapprove-btn{
  border: none;
  font-size: 36px;
  background-color: transparent;
  color:#FF524E;
  cursor: pointer;
  border-radius: 50%;
}
.review-approve-btn:hover,.review-disapprove-btn:hover{
  background-color: #fff;
}

/* Edit Profile */

.logout-link{
  font-size: 36px;
  text-decoration: none;
  color: white;
}
.edit-form>img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.edit-profile-container{
  font-size: 30px;
  color: #fff;
  text-align: -webkit-center;
}
.edit-form{
  width: 500px;
}
.edit-form>label>input{
  width: 100%;
  font-size: 30px;
  border: none;
  border-radius: 20px;
  padding: 10px;
}
.edit-form>label>p{
  margin: 0;
  text-align: start;
}
.cancel-edit-profile{
  font-size: 30px;
  background-color: #FF524E;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 20px;
  border-radius: 15px;
  cursor: pointer;
}
.save-edit-profile{
  font-size: 30px;
  background-color: #218c74;
  color: #fff;
  border: none;
  padding: 10px;
  margin-top: 20px;
  border-radius: 15px;
  cursor: pointer;
}
.edit-profile-btn-div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}